<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Smalltalk inside FlowCloud!</title>
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <main class="section">
      <h2 class="title">Welcome to Smalltalk inside FlowCloud!</h2>
      <h3 class="subtitle">We still need you to log in to Smalltalk.</h3>
      <hr>
      <p>When using Smalltalk inside FlowCloud, you should be logged in to both services. Please click the button below to get Smalltalk working in FlowCloud. After logging in, you can return to the FlowCloud Tab and reload the page. Smalltalk will then run inside FlowCloud.</p><hr>
      
      <a href="https://auth.axome.de/signin?url=https%3A%2F%2Fsmalltalk.axome.repl.co%2Flogin" target="_blank" class="button is-primary">Click here to sign in</a>
      </main>
  </body>
</html>