<!DOCTYPE html>
<html>
  <head>
    <title>Smalltalk inbox</title>
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body onload="runWelcome(this);">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/icon.png" width="28" height="28">
    </a>
  </div>

  <div id="navbarBasicExample is-active" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-success is-rounded" href="/st/new">
            <strong>New Mail</strong>
          </a>
          <a class="button is-danger is-rounded" href="/logout/">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
    <main>

    <script>
function closeMailView() {
  var frame = document.getElementById("mfr");
  frame.style.display = "none";
  fs = document.getElementById("fs");
  fs.style.display = "none";
    var cmb = document.getElementById("reader");
  cmb.style.display = "none";
}

function readMail(i) {
  var cmb = document.getElementById("reader");
  cmb.style.display = "block";
  var frame = document.getElementById("mfr");
  frame.src = "/r/"+i.toString();
  frame.style.display = "block";
  reader.scrollIntoView({ behaviour: "smooth" });
  fs = document.getElementById("fs");
  fs.href = "/r/"+i.toString();
  fs.style.display = "block";
}

function removeMail(i) {
  if (confirm("Would you really like to remove this mail?")) {
    document.location.href = "/del/"+i.toString();
  }
}
function replyMail(i) {
  document.location.href = "/rep/"+i.toString();
}
    </script>
    <div class="columns is-fullwidth"><div class="column is-half">
    <div class="section">
      <h1 id="welcome" style="margin: 2%; font-size: 5vw;"></h1>
      <p class="subtitle">Welcome back to smalltalk! You have {{count}} Mail(s) in your inbox.</p><hr>
      <script>
      function runWelcome(el) {
      var d = new Date();
      var n = d.getHours();
      var w = el;
      
      if (n >= 5 && n <= 11) {
        w.innerHTML = "Wonderful morning!";
      } else if (n >= 11 && n <= 14) {
        w.innerHTML = "Good noon!";
      } else if (n >= 14 && n <= 17) {
        w.innerHTML = "Nice afternoon!";
      } else if (n >= 17 && n <= 22
        w.innerHTML = "Great evening!";
      } else if (n >= 22 && n <= 5) {
        w.innerHTML = "Enjoy the night!";
      } else {
        w.innerHTML = "Greetings!";
      }}
      </script>
      
      
      {% for i in  mails %}
      <div class="columns is-mobile" id="{{i['id']}}">
        <div class="column is-fullwidth is-vcentered title">
          <strong>{{i["sub"]}}</strong>
        </div>
        <div class="column">
          <button onclick="readMail({{i['id']}})" class="button is-primary is-rounded"><span class="material-icons">drafts</span></button>
          <button onclick="removeMail({{i['id']}})" class="button is-danger is-rounded"><span class="material-icons">delete</span></button>
          <button onclick="replyMail({{i['id']}})" class="button is-info is-rounded"><span class="material-icons">reply</span></button>
        </div>
      </div>
      {% endfor %}
      {% if mails == [] %}
      <h2 color="grey">No new mails!</h2>
      <img src="/static/EmptyBox.png" style="width: 30%; height: 30%">
      {% endif %}
      </div></div>
      <div class="column" id="reader">
        <iframe style="width: 100%; height: 70vh;" id="mfr" src=""></iframe><br>
        <div class="columns"><div class="column">
        <button class="button is-success is-fullwidth" onclick="closeMailView()">Close</button></div><div class="column">
        <a id="fs" class="button is-light is-link is-fullwidth" target="_blank" href="">Open in new tab</a></div>
      </div></div></div>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Your Smalltalk account takes up {{storage}} KB storage.</strong>
          </p>
          <p>
            <strong>Smalltalk</strong> has been built by <a href="http://axome.de/">AXOME</a>.
          </p>
        </div>
</footer>
    </main>
  </body>
</html>